@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_646324_3rc43u4tf0e.ttf?t=1547524565724') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_646324_3rc43u4tf0e.svg?t=1547524565724#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 48rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_Arrow:before {
  content: "\e654";
}

.icon-icon_experiment_colo:before {
  content: "\e655";
}

.icon-icon_Experiment_grey:before {
  content: "\e656";
}

.icon-icon_Customerservic:before {
  content: "\e657";
}

.icon-icon_bill_colour:before {
  content: "\e658";
}

.icon-icon_bill_grey:before {
  content: "\e659";
}

.icon-icon_Forward:before {
  content: "\e65a";
}

.icon-icon_home_edit:before {
  content: "\e65b";
}

.icon-icon_Inspection_grey:before {
  content: "\e65c";
}

.icon-icon_Inspection_colo:before {
  content: "\e65d";
}

.icon-icon_me_Customerser:before {
  content: "\e660";
}

.icon-icon_news_Coupons:before {
  content: "\e662";
}

.icon-icon_reportcolour:before {
  content: "\e663";
}

.icon-icon_news_notice:before {
  content: "\e664";
}

.icon-icon_news_message:before {
  content: "\e666";
}

.icon-icon_reportgrey:before {
  content: "\e667";
}

.icon-icon_report_unfound:before {
  content: "\e668";
}

.icon-icon_views:before {
  content: "\e669";
}

.icon-icon_scan:before {
  content: "\e66a";
}

.icon-icon_views1:before {
  content: "\e66b";
}

.icon-icon_padable:before {
  content: "\e66d";
}

.icon-icon_refund:before {
  content: "\e66e";
}

.icon-icon_closed:before {
  content: "\e66f";
}

.icon-icon_select:before {
  content: "\e670";
}

.icon-icon_select1:before {
  content: "\e671";
}

.icon-icon_close:before {
  content: "\e672";
}

.icon-icon_note:before {
  content: "\e673";
}

.icon-icon_select_D:before {
  content: "\e674";
}

.icon-icon_select_D1:before {
  content: "\e675";
}

.icon-icon_select_D2:before {
  content: "\e676";
}

.icon-icon_me_phone:before {
  content: "\e677";
}

.icon-icon_me_Maternityda:before {
  content: "\e66c";
}

.icon-icon_me_report:before {
  content: "\e678";
}

.icon-icon_me_coupons:before {
  content: "\e67a";
}

.icon-icon_me_order:before {
  content: "\e679";
}

.icon-icon_me_invoice:before {
  content: "\e67b";
}

.icon-icon_hospital:before {
  content: "\e67d";
}

.icon-icon_time:before {
  content: "\e67e";
}

.icon-icon_examinate:before {
  content: "\e67f";
}

.icon-icon_home:before {
  content: "\e67c";
}

.icon-icon_code-:before {
  content: "\e680";
}

.icon-icon_good:before {
  content: "\e681";
}

.icon-icon_good1:before {
  content: "\e682";
}

.icon-icon_bad:before {
  content: "\e683";
}

.icon-icon_bad1:before {
  content: "\e684";
}

.icon-icon_empty:before {
  content: "\e685";
}

.icon-icon_evaluate:before {
  content: "\e686";
}

.icon-icon_home_note-:before {
  content: "\e687";
}
